# Python
PYTHONDONTWRITEBYTECODE=0
PYTHONUNBUFFERED=0

# PostgreSQL
POSTGRES_USER=key_keeper
POSTGRES_PASSWORD=password
POSTGRES_DB=users
POSTGRES_DB_TEST=test_users
POSTGRES_HOST=auth_test_db
POSTGRES_PORT=5432

FLASK_APP=main.py

FLASK_ENV=testing

SECRET_KEY=secret_key
JWT_SECRET_KEY=jwt_secret

REDIS_HOST=yp_auth_test_redis
REDIS_PORT=6379

# OAuth 2.0 Yandex
OAUTH2_YANDEX_CLIENT_ID=96c8e29b9b294b8f9e94484086c998b7
OAUTH2_YANDEX_CLIENT_SECRET=5579f23df4854f7e9376de50cd4a4766

# OAuth 2.0 Google
OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=

# OAuth 2.0 Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=